
:root {
  /*
  --amarillo: #FFA400;

  --rojo: #8D0000;
  --gris: #272727;
  --blanco: #EAF6FF;
  --negro: rgb(50, 50, 50);
  */
  --amarillo: #ff8906;
  --naranja: #f25f4c;
  --rojo: #e53170;
  --gris: #0f0e17;
  --blanco: #fffffe;
  --negro: #0f0e17;
  --azul: #009FFD;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: var(--gris);
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10%;
}

h1, h2, h3, h4, p, span, li, ul, a { color: aliceblue;}
a { text-decoration: none; }

.navbar { 
  position: sticky;
  display: flex;
  width: 100%;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.062), -5px -2px 30px 7px rgba(0, 0, 0, 0.075);
  background-color: var(--blanco); 
  top:0; 
  border: 1px solid rgba(0, 0, 0, 0);

  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar img {
  position: absolute;
  top: -10px;
  padding-top: 30px ;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0;

  background-color: var(--negro); 

  border: 1px solid rgba(0, 0, 0, 0);
  padding: 20px;
}

.navbar li {
  display: inline; 
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  color: var(--gris);
  margin-bottom: 30px;
}

.footer li{
  font-size: 10px;
  display: inline; 
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  color: var(--blanco);
}

.navbar li:hover {
  background-color: var(--amarillo);
}

.centrado { text-align: center; }
.bienvenida-desc { 
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 30px; 
  width: 320px;
}

.titulo-incicio {
  text-shadow: #FF2D95 0px 0px 20px, #4F25CE 0px 0px 30px, #4F25CE 0px 0px 40px, #4F25CE 0px 0px 50px, #4F25CE 0px 0px 75px, 40px 40px 0px rgba(79,37,206,0);
}

.lista-bienvenida { 
  display: flex; 
  justify-content: center; 
  margin-top: 50px;
}

.index-btns {
  margin-top: 40px;
  margin-bottom: 40px;
}

.btn-login {
  background: #009FFD;
  background-image: -webkit-linear-gradient(top, #009FFD, #2980b9);
  background-image: -moz-linear-gradient(top, #009FFD, #2980b9);
  background-image: -ms-linear-gradient(top, #009FFD, #2980b9);
  background-image: -o-linear-gradient(top, #009FFD, #2980b9);
  background-image: linear-gradient(to bottom, #009FFD, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn-registro {
  background: #FFA400;
  background-image: -webkit-linear-gradient(top, #FFA400, #de8d00);
  background-image: -moz-linear-gradient(top, #FFA400, #de8d00);
  background-image: -ms-linear-gradient(top, #FFA400, #de8d00);
  background-image: -o-linear-gradient(top, #FFA400, #de8d00);
  background-image: linear-gradient(to bottom, #FFA400, #de8d00);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.form-auth {
  width: 90%;
  margin-bottom: 20px;
  color: var(--gris);
  max-width: 500px;
  min-width: 200px;
  padding: 10px;
  border-radius: 4px;
}

.form-actualizar {
  margin-left: 10%;
  border: #7B9EA8 2px solid;
}

.bg-azul { background-color: var(--azul); }
.bg-naranja { background-color: var(--naranja); }
.bg-amarillo { background-color: var(--amarillo); } 
.bg-blanco { background-color: var(--blanco); } 

.bg-negro > label{
  color: var(--blanco);
}

.bg-blanco > * {
  color: var(--negro);
}

.form-auth input {
  width: 90%;
  font-size: 1.4rem;
  margin-bottom: 20px;
  color: var(--gris);
}

#slidebar-seguidos {
  float: left;
  position: fixed;
  top: 30%;
  left: 2%;
  background-color: var(--blanco);
  padding: 30px;
  border-bottom-right-radius: 80px 80px;

}

#slidebar-seguidos li, 
#slidebar-seguidos  p {
  color: var(--negro);
  list-style:none;
}

#slidebar-seguidos li {
  margin-bottom: 15px;
  margin-top: 15px;
}

.muro {
  margin-left: 30%;
  margin-top: 10px;

}

.revel-en-muro {
  width: 80%;
  background-color: var(--blanco);
  border-bottom-right-radius: 40px 40px;
  border-top-right-radius: 40px 40px;
  border-top-left-radius: 40px 40px;
  border: var(--naranja) solid 2px;

  padding-top: 20px;
  padding-bottom: 100px;
  padding-left: 20px;

  margin-top: 10px;
  margin-bottom: 10px;
}

.revel-muro > .usuario { 
  display: inline-flex;
}

.revel-muro > .usuario > p { 
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  color: var(--blanco);
  background-color: var(--negro);
  padding: 10px;
  height: 40px;
  border: var(--rojo) solid 2px;
}

.revel-muro > .usuario > img {
  width:50px;
  height:50px;
  border-radius:160px;
  border: 2px solid #666;
}

.revel-en-muro > .botones {
  position: relative;
  top: 50px;
  font-size: 1.5rem;
  color: var(--gris);
}

.revel-en-muro > .botones > i{
  margin-right: 20px;
}


i:hover{
  transform: scale(0.9);
  transition: all .2s ease-in-out; 
}

.perfil-cabecera {
  text-align: center;

  padding: 30px;

  background: rgb(255,164,0);
  background: radial-gradient(circle, rgba(255,164,0,1) 0%, rgba(0,159,253,1) 50%, rgba(141,0,0,1) 100%);
}

.perfil-cabecera > #nombre {
  text-shadow: #272727;
}

.img-perfil {
  width:150px;
  height:150px;
  border-radius:160px;
  border:10px solid #666;
}

/* RESULTS CARD */
.carta-usuario {
  box-shadow: 0 5px 3px 0 rgba(202, 202, 202, 0.2);
  transition: 0.3s;
  width: 400px;
  height: 100px;
  border-radius: 4px;
  padding-top: 20px;
}

.carta-usuario img {
  float: left;
  margin-right: 20px;
}

.lista-resultados {
  display: inline;
}

.lista-resultados li {
  display: inline-block;
}

.carta-usuario:hover {
  box-shadow: 0 8px 16px 0 rgba(220, 220, 220, 0.2);
}


.navbar .icon {
  padding-left: 25px;
  background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
  background-size: 20px;
  border-radius: 3px;
  font-size: 1.1rem;
}

.btn-seguir{
  background-color: var(--naranja);
  color: var(--blanco);
  border-radius: 4px;
  padding: 4px;
  border: none;
  outline:none;
  margin-top: 2px;
  margin-bottom: 2px;
}


button,
input[type="button"],
input[type="submit"],
.revel-en-muro:hover,
i:hover 
{  
  cursor: pointer;
}

.red { color: var(--rojo); }
.green { color: rgb(37, 203, 37); }

.mrg-50 { margin: 50px; }
.mrg-100 { margin: 100px; }

.pdng-25 { padding: 50px; }

.underline { background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);width: 200px;height: 2px; }

*::selection {
  background-color: var(--negro);
  color: var(--blanco);
}